/*********************/
/*     05. Intro     */
/*********************/
.basic-1 {
  padding-top: 6.5rem;
  padding-bottom: 3rem;
}

.basic-1 .text-container {
  margin-bottom: 3rem;
}

.basic-1 .section-title {
  margin-bottom: 0.5rem;
}

.basic-1 h2 {
  margin-bottom: 1.375rem;
}

.basic-1 .testimonial-author {
  color: #484a46;
}

/* Hover Animation */
.basic-1 .image-container {
  overflow: hidden;
  border-radius: 0.25rem;
}

.basic-1 .image-container img {
  margin: 0;
  border-radius: 0.25rem;
  transition: all 0.3s;
}

.basic-1 .image-container:hover img {
  -moz-transform: scale(1.15);
  -webkit-transform: scale(1.15);
  transform: scale(1.15);
}
/* end of hover animation */

/* Min-width width 992px */
@media (min-width: 992px) {
  /* Intro */
  .basic-1 {
    padding-top: 6.875rem;
  }

  .basic-1 .text-container {
    margin-bottom: 0;
  }
  /* end of intro */
}
/* end of min-width width 992px */

/* Min-width width 1200px */
@media (min-width: 1200px) {
  /* Intro */
  .basic-1 .text-container {
    margin-top: 1.875rem;
    margin-right: 3rem;
  }
  /* end of intro */
}
